*.sln
*.userprefs
*.pidb
*.svd
*.suo
*.user
*.booproj
Assets/data.zip
Assets/version.ver
Assets/Slua/LuaObject/*
/obj
/Temp
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db
*.swp
*.Trashes
ExportedObj/
Temp/

*~

/Assembly-CSharp.csproj

/Assembly-CSharp-vs.csproj
